# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Storage data (chunk files)
storage_node/data/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
desktop.ini

# Env files
.env
*.env


# Ignore storage data
storage_node/data/

# Ignore runtime JSON files
master/nodes.json
master/files.json

# Ignore cache
__pycache__/